<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>主要练习父子组件之间传值</title>
    <script src="../lib/vue-2.4.0.js"></script>
    <link rel="stylesheet" href="../lib/bootstrap-3.3.7.css">
</head>
<body>
    <div id="app">
        <comment-box @func='getComments'></comment-box>
        <ul class="list-group">
            <li class="list-group-item" v-for="item in list" :key="item.id">
                <span class="badge"> 评论人：{{item.user}}</span>
                {{ item.content }}
            </li>
        </ul>
    </div>

    <!-- 定义在外面的好处是较好的使用编辑器进行快速快发 -->
    <template id="temp1">
        <div>
            <div class="form-group">
                <label>评论人：</label>
                <input type="text" class="form-control" v-model="user">
            </div>
            <div class="form-group">
                <label>评论内容：</label>
                <textarea class="form-control" v-model="content"></textarea>
            </div>
            <div class="form-group">
                <input type="button" value="发表评论" class="btn btn-primary" @click="postComment">
            </div>
        </div>
    </template>

    <script>
        var commentBox = {
            template: '#temp1',
            data(){
                return {
                    user: "",
                    content: ""
                }
            },
            methods: {
                postComment(){
                    var comment = { id: Date.now(), user: this.user, content: this.content }
                    // 从 localStorage 中获取所有的评论
                    var list = JSON.parse(localStorage.getItem('cmts') || '[]')
                    list.unshift(comment)
                    // 重新保存最新的 评论数据
                    localStorage.setItem('cmts', JSON.stringify(list))
                    this.user = this.content = ''
                    // 处理完存储业务再去调用父组件方法
                    this.$emit('func')
                }
            }
        }

        new Vue({
            el: '#app',
            data: {
                list: [
                    { id: Date.now(), user: '李白', content: '天生我材必有用' },
                    { id: Date.now(), user: '江小白', content: '劝君更尽一杯酒' },
                    { id: Date.now(), user: '小马', content: '我姓马， 风吹草低见牛羊的马' }
                ]
            },
            // 定义了方法 但是什么时机调用呢？
            created(){
                this.getComments()
            },
            methods: {
                getComments(){
                    var list = JSON.parse(localStorage.getItem('cmts') || '[]')
                    this.list = list
                }
            },
            components: {
                commentBox
            }
              // getComments 属于vm 实例，相当于父组件有这么一个方法，然后 发表评论的部分属于子组件 按钮也属于子组件 那子组件想调用父组件刷新列表这么一个方法 
        })    
    </script>
</body>
</html>